<header role="banner" data-600="background: rgba(255,255,255,0); box-shadow: 0px 2px 5px rgba(150,150,150,0);" data-800="background: rgba(255,255,255,1); box-shadow: 0px 2px 5px rgba(150,150,150,0.5);">
  <div class="container">
    <div id="brand">
      <h1><a href="{{ _site_url }}" data-600="color: rgba(255,255,255,1); " data-800="color: rgba(9,56,68,1)">PROSPR</a></h1>
      <a href="{{ _site_url }}"><object type="image/svg+xml" data="/assets/img/negative-logo.svg"></object></a>
    </div>
    {{ theme:partial src="_nav" }}
  </div><!-- END .container -->
</header>

{{# 
====================================
  NOTES
====================================

This is the main header partial.

For more information on partials see http://statamic.com/learn/theming/partials.
  
#}}

