<header role="banner">
  <div class="container">
    <div id="brand">
      <h1><a href="{{ _site_url }}">PROSPR</a></h1>
      <a href="{{ _site_url }}"><object type="image/svg+xml" data="/assets/img/negative-logo.svg"></object></a>
    </div>
    {{ theme:partial src="_nav" }}
  </div><!-- END .container -->
</header>

{{# 
====================================
  NOTES
====================================

This is the main header partial.

For more information on partials see http://statamic.com/learn/theming/partials.
  
#}}

