<nav role="navigation">
  <ul class="nav">
    <li><a href="{{ homepage }}"{{ if !segment_1 }} class="current"{{ endif }} data-25p="color: rgba(255,255,255,1); " data-50p="color: rgba(9,56,68,1)">Home</a></li>
    {{ nav from="/" max_depth="2" }}
    <li>
      <a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ endif }} data-25p="color: rgba(255,255,255,1); " data-50p="color: rgba(9,56,68,1)">{{ title }}</a>
    </li>
    {{ /nav }}
  </ul>
</nav>

{{# 
====================================
  NOTES
====================================

This is the main nav partial.

It uses the nav tag to render a list of navigation items. For more information on the nav tag see http://statamic.com/learn/documentation/tags/nav.
  
#}}
