// =====================================
// MODULE RULES
// =====================================

// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogues and your widgets and so on.
// This is the meat of the page.
// Modules sit inside Layout components.
// Modules can sometimes sit within other Modules, too.
// Each Module should be designed to exist as a standalone component.

.pagination { text-align: center; }
.text-center { text-align: center; }

header[role="banner"]{
	#brand {

		h1 {
			float: left;
			margin-top: 0.65em;

			a {
				width: 100%;
				font-size: 1.75em;
				line-height: 1.3;
				text-decoration: none;
				color: $white;
			} //a
		}//h1
		object {
			float: left;
			margin-left: 2em;
			width: 6.25em; /* 100px/16px */
			height: 4.6875em; /* 75px/16px */
		}
	} 
} //header[role="banner"]

nav[role="navigation"]{
	
	ul.nav {
		@include clearfix;
		@include horizontal-list(1em, left);
		@media screen and (max-width: 875px){
			@include horizontal-list(0.5em, left);
			margin-top: 3.25em;
		}
		float: right;
		padding: 0;
		margin-top: 3.25em;

		li {
			@include transition(all, ease, 0.3s);

			a {
				@include transition(all, ease, 0.2s);
				color: $white;
				font-size: 1.3em;
				font-weight: 300;
				text-decoration: none;
				border-bottom: solid 1px rgba($white, 0);
				&:hover {
					border-bottom: solid 1px $white;
				}
			}
			a.current {
				color: lighten($ochre, 10%);
				&:hover {
					border-bottom: solid 1px lighten($ochre, 10%);
				} // a:hover
			} //a
		} //li
	} //ul.nav
} //nav[role="navigation"]


// =====================================
// FRONTPAGE
// =====================================

.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
}

section[role="main"]{
	@media screen and (max-width: 1150px){
		font-size: 0.85em;
	}
	@media screen and (max-width: 875px){
		font-size: 0.75em;
	}
	background-color: rgba($black, 0.4);
}

#mp-splash {
	width:100%;
	height:100%;
	text-align: center;

	.wrapper {
		position: fixed;
		width: 100%;
		height: 100%;
	}

	#mp-headline {
		@include clearfix;
		@include transition(all, ease, 0.5s);
		font-size: 5em;
		font-weight: 700;
		text-align: left;
		padding-top: 2em;

		@media screen and (max-width: 300px){
			font-size: 2em;
			text-align: center;
			span {
				display: block;
			}
		}

		span {
			color: $ochre;
		}
	}

	.mp-line1 {
		@include single-text-shadow(rgba($black, 0.5), 1px, 1px, 5px);
		@include transition(all, ease, 0.5s);
		margin-top: 2em;
		font-family: $tisa;
		font-weight: 400;
		color: $white;
		font-size: 3em;
	}

	.mp-line2 {
		@include single-text-shadow(rgba($black, 0.5), 1px, 1px, 5px);
		@include transition(all, ease, 0.5s);
		font-weight: 300;
		color: lighten($darkblue, 20%);
		font-size: 4em;
		line-height: 1.2;
	}

	a#mp-scroll-button {
		color: $white;
		text-decoration: none;
		font-size: 1.5em;
		border: solid 2px $white;
		padding: 0.5em 1em 0.4em 1em;
		display: block;
		margin: 0 auto;
		margin-bottom: 3em;
		max-width: 11em;
		@include border-radius (5px, 5px);
		@include transition(all, ease, 0.2s);

		i {
			margin-left: 0.33em;
		}

		&:hover {
			@include single-text-shadow (rgba($white, 0.5), 0px, 0px, 5px);
			@include single-box-shadow (rgba($white, 0.5), 0px, 0px, 5px);
		}
	}
}

#mp-intro {
	background: $white;
	text-align: center;
	position: relative;

	h2 {
		color: $darkblue;
	}
}