// =====================================
// MODULE RULES
// =====================================

// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogues and your widgets and so on.
// This is the meat of the page.
// Modules sit inside Layout components.
// Modules can sometimes sit within other Modules, too.
// Each Module should be designed to exist as a standalone component.

.pagination { text-align: center; }
.text-center { text-align: center; }

header[role="banner"]{
	#brand {
		h1 {
			float: left;
			margin-top: 0.65em;

			a {
				width: 100%;
				font-size: 1.75em;
				line-height: 1.3;
				text-decoration: none;
				color: $white;
			} //a
		}//h1
		#prospr-logo {
			float: left;
			margin-left: 2em;
			width: 6.25em; /* 100px/16px */
			height: 4.6875em; /* 75px/16px */
			background: url("/assets/img/negative-logo.svg");
			background-size: 6.25em 4.6875em;
		}
	} 
} //header[role="banner"]

nav[role="navigation"]{
	
	ul.nav {
		@include clearfix;
		@include horizontal-list(1em, left);
		@media screen and (max-width: 875px){
			@include horizontal-list(0.5em, left);
			margin-top: 3.25em;
		}
		float: right;
		padding: 0;
		margin-top: 3.25em;

		li {
			@include transition(all, ease, 0.3s);

			a {
				@include transition(all, ease, 0.2s);
				color: $white;
				font-size: 1.3em;
				font-weight: 300;
				text-decoration: none;
				border-bottom: solid 1px rgba($white, 0);
				&:hover {
					color: lighten($ochre, 10%) !important; /* Important flag to prevent skrollr from changing it back to white */
				}
			}
			a.current {
				color: lighten($ochre, 10%) !important; /* Important flag to prevent skrollr from changing it back to white */
			} //a
		} //li
	} //ul.nav
} //nav[role="navigation"]

footer[role="contentinfo"]{
	color: $white;
	a {
		color: $white;
	}
}
// =====================================
// FRONTPAGE
// =====================================

#mp-splash {
	width:100%;
	height:100%; 
	text-align: center;

	.wrapper {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.4);
	}
}

.splash-content {
	height: 100%;

	div {
		position: absolute;
		top: 20%;
	}

	#mp-headline {
			@include clearfix;
			@include transition(all, ease, 0.5s);
			font-size: 5em;
			font-weight: 700;
			text-align: left;
			color: $white;

			@media screen and (max-width: 300px){
				font-size: 2em;
				text-align: center;
				span {
					display: block;
				}
			}

			span {
				color: $ochre;
			}
		}

		.mp-byline {
			@include single-text-shadow(rgba($black, 0.5), 1px, 1px, 5px);
			@include transition(all, ease, 0.5s);
			margin-top: 2em;
			font-family: $tisa;
			font-weight: 400;
			color: $white;
			font-size: 3em;
		}

		#mp-scrolldown {
			color: $white;
			font-size: 1.5em;
			font-weight: 300;
			display: block;
			margin: 5em auto;
			margin-bottom: 0;

			i {
				margin-left: 0.33em;
			}
		}
	}

#mp-intro {
	background: $white;
	text-align: center;
	position: relative;

	.intro-content div {
		padding: 0 1.5em;
		margin-bottom: 2em;
	}

	#growth {
		@include span-columns(6, 12);
	}

	#promote {
		@include span-columns(6 omega, 12);
	}

	#honesty {
		@include span-columns(4, 12);
	}

	#accountability {
		@include span-columns(4, 12);
	}

	#contracts {
		@include span-columns(4 omega, 12);
	}
}

#mp-testimonial {
	position: relative;
	background: rgba($darkblue, .65);

	div {
		text-align: center;
		font-family: $proxima;
		font-weight: 300;
	 	color: $white;
	 	padding: 3em 6em;

	 	p {
	 		@include clearfix;
			margin: 0;
			font-size: 1.5em;
	 	}

	 	b {
			display: block;
			float: right;
			font-size: 1.5em;
			margin-top: 0.5em;
			font-weight: 100;
		}
	}
}

#mp-contact {
	position: relative;
	background: $white;
	text-align: center;

	h4 {
		color: $darkblue;
		font-family: $tisa;
		font-size: 2em;
	}

	a {
		text-decoration: none;
		color: $greygreen;
		font-size: 2em;
		display: block;
		margin-bottom: 1em;
	}

	.call-us {
		@include span-columns(6,12);
	}

	.email-us {
		@include span-columns(6 omega, 12);
	}
}

.splash {
	width:100%;
	height:66%;
	text-align: center;

	.wrapper {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.5);

		h1 {
			font-size: 4em;
			font-weight: 700;
			text-align: left;
			color: $white;
			margin-top: 1em;
		}
		h1:first-child {
			margin-top: 2.25em;
		}
	}
}


.bgimg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -10;
}

#au-bg {
	background: url("/assets/img/about-us-bg.jpg");
	background-size: cover;
}

#pc-bg {
	background: url("/assets/img/pricing-bg.jpg");
	background-size: cover;
}

#oa-bg {
	background: url("/assets/img/our-approach-bg.jpg");
	background-size: cover;
}

.team-members {
	width: 100%;
	background: $white;
	
	div {
		padding: 2em 0;

		img {
			@include span-columns(4, 12);
			@include border-radius(100%);
		}

		h2 {
			@include span-columns(7.75 omega,12);
			font-size: 3em;
			margin: 0;
			line-height: 1;
			color: $darkblue;
			font-family: $tisa;
		}

		h3 {
			@include span-columns(7.75 omega,12);
			font-size: 2em;
			color: $greygreen;
		}

		blockquote {
			@include span-columns(7.75 omega,12);
			font-size: 2em;
			font-weight: 300;
			color: $seagreen;
			display: block;
			margin: 0;
		}

		p {
			@include span-columns(7.75 omega, 12);
			margin: 0;
			font-size: 1.2em;
		}
	}

	div:nth-child(even) {
		text-align: right;

		img {
			@include span-columns(4 omega, 12);
		}

		h2 {
			@include span-columns(7.75,12);
		}

		h3 {
			@include span-columns(7.75,12);
		}

		blockquote {
			@include span-columns(7.75,12);
		}

		p {
			@include span-columns(7.75, 12);
		}
	}
}

.our-approach {
	width: 100%;
	background: $white;
	text-align: center;

	.service {
		@include span-columns(4,12);
	}

	.service:last-child {
		@include span-columns(4 omega, 12);
	}

	i {
		font-size: 3em;
		display: block;
	}

	.roadmap {
		@include span-columns (12,12);
		list-style: none;
		text-align: left;
		padding: 0;

		#milestone-grid {
			@include span-columns (10);
			@include isolate (3);
			position: relative;
			z-index: 50;
			text-align: right;

			label {
				position: absolute;
				right: 0.5em;
				top: -1.2em;
				font-size: 1.2em;
				text-transform: uppercase;
			}

			.milestone1 {
				@include span-columns (2,10);
				height: 20em;
				border-right: dashed 1px $darkblue;
				position: relative;
			}

			.milestone2 {
				@include span-columns (3,10);
				height: 20em;
				border-right: dashed 1px $darkblue;
				position: relative;
			}

			.launch {
				@include span-columns (3,10);
				height: 20em;
				border-right: solid 2px $darkblue;
				position: relative;
				font-weight: 600;
			}

			.future {
				@include span-columns (2 omega,10);
				height: 20em;
				border-right: dashed 1px $darkblue;
				position: relative;
			}
		}

		li {
			@include span-columns (12,12);
		}
		
		.label {
			@include span-columns (2, 12);
			font-size: 1.5em;
			margin: 0.6em 0;
			font-weight: 600;
			text-align: right;

			i {
				font-size: 0.8em;
				display: inline;
			}
		}

		.chart {
			@include span-columns (10 omega, 12);
			height: 2em;
			margin: 1em 0;
			background-color: lighten($lighterGrey, 5%);

			.research {
				@include span-columns (2, 10);
				height: 2em;
				background-color: lighten($accent3, 15%);
			}

			.design-spacer {
				@include span-columns (2, 10);
				height: 2em;
			}

			.design {
				@include span-columns (3.01, 10);
				@include bleed($grid-padding);
				height: 2em;
				background-color: lighten($accent4, 20%);
			}

			.seo-spacer {
				@include span-columns (4, 10);
				height: 2em;
			}

			.seo {
				@include span-columns (6.001, 10);
				@include bleed($grid-padding);
				height: 2em;
				background-color: $accent1;
			}

			.development-spacer {
				@include span-columns (3, 10);
				height: 2em;
			}

			.development {
				@include span-columns (5, 10);
				height: 2em;
				background-color: $accent2;
			}

			.maintenance-spacer {
				@include span-columns (8, 10);
				height: 2em;
			}

			.maintenance {
				@include span-columns (2.001, 10);
				@include bleed($grid-padding);
				height: 2em;
				background-color: lighten($accent5, 10%);
			}
		}
	}

	.quote {
		@include span-columns(6, 12);
	}
	.quote:last-child {
		@include span-columns(6 omega, 12);
	}
}

