// ===============================================
// All variables to be used in your theme go here. 
// ===============================================

// ===================
// COLOURS
// ===================

// greyscale
$black: rgb(0, 0, 0);
$darkGrey: lighten($black, 25%);
$grey: lighten($black, 50%);
$lightGrey: lighten($black, 75%);
$lighterGrey: lighten($black, 90%);
$white: rgb(255, 255, 255);

// site colours
$ochre: #F34A53;
$cream: #FAE3B4;
$seagreen: #AAC789;
$greygreen: #437356;
$darkblue: #1E4147;
$lightblue: #51acce;

// links
$normal: $darkblue;
$hover: $lightblue;
$active: $lightblue;
$visited: $darkblue;
$focus: $lightblue;

//fonts
$proxima: proxima-nova, sans-serif;
$tisa: ff-tisa-web-pro, serif;

// z-indexes
$negative: -1;
$zero: 0;
$devilish: 666;
$leet: 1337;
$over9000: 9001;

// susy
$total-columns  : 12;             // a 12-column grid
$column-width   : 5em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

// susy breakpoints
$small: 30em;
$medium: 47em;
$large: 75em;